In [34]:
# 모듈 로드
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, roc_auc_score



import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor 

import seaborn as sns



import warnings
warnings.filterwarnings('ignore')

In [5]:
# 데이터 로드
df=pd.read_csv('preprocessing_merged.csv')
df

,year,code,score,hospital_conversion,clinic_conversion,hospital_fee,clinic_fee,C0,C2,C3,...,C1_세종특별자치시,C1_경기도,C1_강원특별자치도,C1_충청북도,C1_충청남도,C1_전북특별자치도,C1_전라남도,C1_경상북도,C1_경상남도,C1_제주특별자치도
0,2009,AA154,188.11,63.4,63.4,11926.174,11926.174,2009,49773145,63.4,...,False,False,False,False,False,False,False,False,False,False
1,2009,AA154,188.11,63.4,63.4,11926.174,11926.174,2009,10208302,63.4,...,False,False,False,False,False,False,False,False,False,False
2,2009,AA154,188.11,63.4,63.4,11926.174,11926.174,2009,3543030,63.4,...,False,False,False,False,False,False,False,False,False,False
3,2009,AA154,188.11,63.4,63.4,11926.174,11926.174,2009,2489781,63.4,...,False,False,False,False,False,False,False,False,False,False
4,2009,AA154,188.11,63.4,63.4,11926.174,11926.174,2009,2710579,63.4,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137179,2023,TA006*,3496.35,79.7,92.1,278659.095,322013.835,2023,1754757,79.7,...,False,False,False,False,False,True,False,False,False,False
1137180,2023,TA006*,3496.35,79.7,92.1,278659.095,322013.835,2023,1804217,79.7,...,False,False,False,False,False,False,True,False,False,False
1137181,2023,TA006*,3496.35,79.7,92.1,278659.095,322013.835,2023,2554324,79.7,...,False,False,False,False,False,False,False,True,False,False
1137182,2023,TA006*,3496.35,79.7,92.1,278659.095,322013.835,2023,3251158,79.7,...,False,False,False,False,False,False,False,False,True,False
1137183,2023,TA006*,3496.35,79.7,92.1,278659.095,322013.835,2023,675252,79.7,...,False,False,False,False,False,False,False,False,False,True

In [26]:
df.isna().sum()

year                    0
code                    0
score                  68
hospital_conversion     0
clinic_conversion       0
                       ..
C1_전북특별자치도              0
C1_전라남도                 0
C1_경상북도                 0
C1_경상남도                 0
C1_제주특별자치도              0
Length: 100, dtype: int64

In [27]:
df=df.dropna(subset=['score'])
df.isna().sum()

year                   0
code                   0
score                  0
hospital_conversion    0
clinic_conversion      0
                      ..
C1_전북특별자치도             0
C1_전라남도                0
C1_경상북도                0
C1_경상남도                0
C1_제주특별자치도             0
Length: 100, dtype: int64

In [28]:
label_encoder = LabelEncoder()
df['code'] = label_encoder.fit_transform(df['code'])

df

,year,code,score,hospital_conversion,clinic_conversion,hospital_fee,clinic_fee,C0,C2,C3,...,C1_세종특별자치시,C1_경기도,C1_강원특별자치도,C1_충청북도,C1_충청남도,C1_전북특별자치도,C1_전라남도,C1_경상북도,C1_경상남도,C1_제주특별자치도
0,2009,696,188.11,63.4,63.4,11926.174,11926.174,2009,49773145,63.4,...,False,False,False,False,False,False,False,False,False,False
1,2009,696,188.11,63.4,63.4,11926.174,11926.174,2009,10208302,63.4,...,False,False,False,False,False,False,False,False,False,False
2,2009,696,188.11,63.4,63.4,11926.174,11926.174,2009,3543030,63.4,...,False,False,False,False,False,False,False,False,False,False
3,2009,696,188.11,63.4,63.4,11926.174,11926.174,2009,2489781,63.4,...,False,False,False,False,False,False,False,False,False,False
4,2009,696,188.11,63.4,63.4,11926.174,11926.174,2009,2710579,63.4,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137179,2023,9045,3496.35,79.7,92.1,278659.095,322013.835,2023,1754757,79.7,...,False,False,False,False,False,True,False,False,False,False
1137180,2023,9045,3496.35,79.7,92.1,278659.095,322013.835,2023,1804217,79.7,...,False,False,False,False,False,False,True,False,False,False
1137181,2023,9045,3496.35,79.7,92.1,278659.095,322013.835,2023,2554324,79.7,...,False,False,False,False,False,False,False,True,False,False
1137182,2023,9045,3496.35,79.7,92.1,278659.095,322013.835,2023,3251158,79.7,...,False,False,False,False,False,False,False,False,True,False
1137183,2023,9045,3496.35,79.7,92.1,278659.095,322013.835,2023,675252,79.7,...,False,False,False,False,False,False,False,False,False,True

In [30]:
# feature와 target 분리
target=df['C63']
features = df.drop(columns=['C63'])
features.head(), target.head()

(   year  code   score  hospital_conversion  clinic_conversion  hospital_fee  \
 0  2009   696  188.11                 63.4               63.4     11926.174
 1  2009   696  188.11                 63.4               63.4     11926.174
 2  2009   696  188.11                 63.4               63.4     11926.174
 3  2009   696  188.11                 63.4               63.4     11926.174
 4  2009   696  188.11                 63.4               63.4     11926.174

    clinic_fee    C0        C2    C3  ...  C1_세종특별자치시  C1_경기도  C1_강원특별자치도  \
 0   11926.174  2009  49773145  63.4  ...       False   False       False
 1   11926.174  2009  10208302  63.4  ...       False   False       False
 2   11926.174  2009   3543030  63.4  ...       False   False       False
 3   11926.174  2009   2489781  63.4  ...       False   False       False
 4   11926.174  2009   2710579  63.4  ...       False   False       False

    C1_충청북도  C1_충청남도  C1_전북특별자치도  C1_전라남도  C1_경상북도  C1_경상남도  C1_제주특별자치도
 0    False    False       False    False    False    False       False
 1    False    False       False    False    False    False       False
 2    False    False       False    False    False    False       False
 3    False    False       False    False    False    False       False
 4    False    False       False    False    False    False       False

 [5 rows x 99 columns],
 0    80270
 1    20560
 2     5864
 3     4273
 4     3643
 Name: C63, dtype: int64)

In [ ]:
#train, test 분할
X_train, X_test, y_train, y_test = train_test_split(features,target,test_size=0.3, random_state=7)

In [36]:
def get_model_cv_prediction(model,X_data,y_target,cv):
    neg_mse_scores=cross_val_score(model,X_data,y_target,scoring="neg_mean_squared_error",cv=cv)
    rmse_scores=np.sqrt(-1*neg_mse_scores)
    avg_rmse=np.mean(rmse_scores)
    print('#####',model.__class__.__name__,'#####')
    print(f'{cv} 교차 검증의 평균 RMSE : {avg_rmse:.3f}')

In [ ]:
dt_reg=DecisionTreeRegressor(random_state=0, max_depth=4)
rf_reg=RandomForestRegressor(random_state=0, n_estimators=1000)
gb_reg=GradientBoostingRegressor(random_state=0,n_estimators=1000)
xgb_reg=XGBRegressor(n_estimators=1000)
lgb_reg=LGBMRegressor(n_estimators=1000)

# 트리 기반의 회귀 모댈을 반복하면서 평가 수행
cv=5
models=[dt_reg, rf_reg, gb_reg, xgb_reg, lgb_reg]
for model in models:
    get_model_cv_prediction(model,X_train,y_train,cv)

##### DecisionTreeRegressor #####
5 교차 검증의 평균 RMSE : 511.364

In [ ]:
#train, test 분할
X_train, X_test, y_train, y_test = train_test_split(features,target,test_size=0.3, random_state=7)