#### [ 범죄 증감율과 CCTV]
- 출처 : https://www.localdata.go.kr/lif/lifeCtacDataView.do

In [3]:
# 모듈 로드
import pandas as pd

In [4]:
# 데이터 준비
D1='12_04_08_E_CCTV정보_강원.xlsx'
D2='12_04_08_E_CCTV정보_경기.xlsx'
D3='12_04_08_E_CCTV정보_경남.xlsx'
D4='12_04_08_E_CCTV정보_경북.xlsx'
D5='12_04_08_E_CCTV정보_광주.xlsx'
D6='12_04_08_E_CCTV정보_대구.xlsx'
D7='12_04_08_E_CCTV정보_대전.xlsx'
D8='12_04_08_E_CCTV정보_부산.xlsx'
D9='12_04_08_E_CCTV정보_서울.xlsx'
D10='12_04_08_E_CCTV정보_세종.xlsx'
D11='12_04_08_E_CCTV정보_울산.xlsx'
D12='12_04_08_E_CCTV정보_인천.xlsx'
D13='12_04_08_E_CCTV정보_전남.xlsx'
D14='12_04_08_E_CCTV정보_전북.xlsx'
D15='12_04_08_E_CCTV정보_제주.xlsx'
D16='12_04_08_E_CCTV정보_충남.xlsx'
D17='12_04_08_E_CCTV정보_충북.xlsx'
D18='범죄발생_지역_20240718041212.xlsx'

In [5]:
#%pip install --upgrade openpyxl

In [6]:
# DF으로 변환
cctv1=pd.read_excel(D1)
cctv2=pd.read_excel(D2)
cctv3=pd.read_excel(D3)
cctv4=pd.read_excel(D4)
cctv5=pd.read_excel(D5)
cctv6=pd.read_excel(D6)
cctv7=pd.read_excel(D7)
cctv8=pd.read_excel(D8)
cctv9=pd.read_excel(D9)
cctv10=pd.read_excel(D10)
cctv11=pd.read_excel(D11)
cctv12=pd.read_excel(D12)
cctv13=pd.read_excel(D13)
cctv14=pd.read_excel(D14)
cctv15=pd.read_excel(D15)
cctv16=pd.read_excel(D16)
cctv17=pd.read_excel(D17)
crime=pd.read_excel(D18)

c:\Users\KDP-27\anaconda3\envs\PY39\lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [7]:
cctv1

,번호,관리기관명,소재지도로명주소,소재지지번주소,설치목적구분,카메라대수,카메라화소수,촬영방면정보,보관일수,설치연월,관리기관전화번호,WGS84위도,WGS84경도,데이터기준일자
0,1,강원도화천군청,사내면용담리74-3,NaN,생활방범,1,0,NaN,0,NaN,033-440-2304,38.071939,127.52022,2021-12-13
1,2,강원도화천군청,사내면사창리436-1,NaN,생활방범,1,0,NaN,0,NaN,033-440-2304,38.074720,127.54134,2021-12-13
2,3,강원도화천군청,상서면노동리1265-5,NaN,생활방범,1,0,NaN,0,NaN,033-440-2304,38.073353,127.52128,2021-12-13
3,4,강원도화천군청,상서면다목리217-7,NaN,생활방범,1,0,NaN,0,NaN,033-440-2304,38.162573,127.66168,2021-12-13
4,5,강원도화천군청,하남면논미리8-2,NaN,생활방범,1,0,NaN,0,NaN,033-440-2304,38.176740,127.57541,2021-12-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14210,14211,강원특별자치도 인제군청,NaN,강원특별자치도인제군인제읍남북리산94-1(둘래길4),생활방범,1,0,NaN,0,NaN,033-460-2166,38.040000,128.15500,2024-06-30
14211,14212,강원특별자치도 인제군청,강원특별자치도 인제군 남면 신남로30번길,강원특별자치도 인제군남면신남리537-1,생활방범,1,0,NaN,0,NaN,033-460-2166,37.966000,128.07800,2024-06-30
14212,14213,강원특별자치도 인제군청,강원특별자치도 인제군 남면 신남로30번길,강원특별자치도인제군남면신남리537-1,생활방범,1,0,NaN,0,NaN,033-460-2166,37.966000,128.07800,2024-06-30
14213,14214,강원특별자치도 인제군청,강원특별자치도 인제군 남면 신남로30번길,강원특별자치도인제군남면신남리537-1,생활방범,1,0,NaN,0,NaN,033-460-2166,37.966000,128.07800,2024-06-30
14214,14215,강원특별자치도 인제군청,강원특별자치도 인제군 북면 금강로 62,강원특별자치도인제군북면원통리608-11,생활방범,1,0,NaN,0,NaN,033-460-2166,38.125000,128.20500,2024-06-30

In [8]:
# 컬럼명 확인
print(cctv1.columns)
print(cctv2.columns)
print(cctv3.columns)
print(cctv4.columns)
print(cctv5.columns)
print(cctv6.columns)
print(cctv7.columns)
print(cctv8.columns)
print(cctv9.columns)
print(cctv10.columns)
print(cctv11.columns)
print(cctv12.columns)
print(cctv13.columns)
print(cctv14.columns)
print(cctv15.columns)
print(cctv16.columns)
print(cctv17.columns)

Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')
Index(['번호', '관리기관명', '소재지도로명주소', '소재지지번주소', '설치목적구분', '카메라대수', '카메라화소수',
       '촬영방면정보', '보관일수', '설치연월', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],
      dtype='object')

In [9]:
# 컬럼 삭제
cctv1.drop(['번호', '관리기관명', '설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv2.drop(['번호', '관리기관명', '설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv3.drop(['번호', '관리기관명',  '설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv4.drop(['번호', '관리기관명', '설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv5.drop(['번호', '관리기관명', '설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv6.drop(['번호', '관리기관명', '설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv7.drop(['번호', '관리기관명', '설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv8.drop(['번호', '관리기관명', '설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv9.drop(['번호', '관리기관명','설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv10.drop(['번호', '관리기관명','설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv11.drop(['번호', '관리기관명', '설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv12.drop(['번호', '관리기관명','설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv13.drop(['번호', '관리기관명', '설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv14.drop(['번호', '관리기관명', '설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv15.drop(['번호', '관리기관명', '설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv16.drop(['번호', '관리기관명', '설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)
cctv17.drop(['번호', '관리기관명','설치목적구분',
       '촬영방면정보', '보관일수', '관리기관전화번호', 'WGS84위도', 'WGS84경도', '데이터기준일자'],axis=1,inplace=True)

In [10]:
cctv1.info

<bound method DataFrame.info of                      소재지도로명주소                      소재지지번주소  카메라대수  카메라화소수 설치연월
0                  사내면용담리74-3                          NaN      1       0  NaN
1                 사내면사창리436-1                          NaN      1       0  NaN
2                상서면노동리1265-5                          NaN      1       0  NaN
3                 상서면다목리217-7                          NaN      1       0  NaN
4                   하남면논미리8-2                          NaN      1       0  NaN
...                       ...                          ...    ...     ...  ...
14210                     NaN  강원특별자치도인제군인제읍남북리산94-1(둘래길4)      1       0  NaN
14211  강원특별자치도 인제군 남면 신남로30번길        강원특별자치도 인제군남면신남리537-1      1       0  NaN
14212  강원특별자치도 인제군 남면 신남로30번길         강원특별자치도인제군남면신남리537-1      1       0  NaN
14213  강원특별자치도 인제군 남면 신남로30번길         강원특별자치도인제군남면신남리537-1      1       0  NaN
14214   강원특별자치도 인제군 북면 금강로 62        강원특별자치도인제군북면원통리608-11      1       0  NaN

[14215 rows x 5 columns]>

In [11]:
cctv1['지역']='강원'

In [12]:
cctv1

,소재지도로명주소,소재지지번주소,카메라대수,카메라화소수,설치연월,지역
0,사내면용담리74-3,NaN,1,0,NaN,강원
1,사내면사창리436-1,NaN,1,0,NaN,강원
2,상서면노동리1265-5,NaN,1,0,NaN,강원
3,상서면다목리217-7,NaN,1,0,NaN,강원
4,하남면논미리8-2,NaN,1,0,NaN,강원
...,...,...,...,...,...,...
14210,NaN,강원특별자치도인제군인제읍남북리산94-1(둘래길4),1,0,NaN,강원
14211,강원특별자치도 인제군 남면 신남로30번길,강원특별자치도 인제군남면신남리537-1,1,0,NaN,강원
14212,강원특별자치도 인제군 남면 신남로30번길,강원특별자치도인제군남면신남리537-1,1,0,NaN,강원
14213,강원특별자치도 인제군 남면 신남로30번길,강원특별자치도인제군남면신남리537-1,1,0,NaN,강원
14214,강원특별자치도 인제군 북면 금강로 62,강원특별자치도인제군북면원통리608-11,1,0,NaN,강원

In [13]:
cctv2['지역']='경기'
cctv2

,소재지도로명주소,소재지지번주소,카메라대수,카메라화소수,설치연월,지역
0,NaN,경기도 광명시 일직동 267-4(KTX광명역 서편주차장),2,0.0,NaN,경기
1,NaN,경기도 광명시 철산동 9-207(개봉빗물펌프장),1,0.0,2017-09,경기
2,경기도 광명시 목감로 374-1(광명2간이펌프장),NaN,1,0.0,2017-09,경기
3,NaN,경기도 광명시 광명동 12-64(광명1호수문),1,0.0,2017-03,경기
4,NaN,경기도 광명시 광명동 12-127(광명2호수문),1,0.0,2017-03,경기
...,...,...,...,...,...,...
67490,경기도 안산시 단원구 선부동 1132-6,경기도 안산시 단원구 선부동 1132-6,3,200.0,2010-01,경기
67491,경기도 안산시 상록구 성포동 593-1,경기도 안산시 상록구 성포동 593-1,3,200.0,2010-01,경기
67492,경기도 안산시 상록구 사동 1420-10,경기도 안산시 상록구 사동 1420-10,3,200.0,2010-01,경기
67493,경기도 안산시 상록구 수암동326-1,경기도 안산시 상록구 수암동326-1,5,200.0,2010-01,경기
67494,경기도 안산시 상록구 수암동467-6,경기도 안산시 상록구 수암동467-6,4,200.0,2010-01,경기

In [14]:
cctv3['지역']='경남'
cctv3

      소재지도로명주소                 소재지지번주소  카메라대수  카메라화소수     설치연월  지역
0          산청군          산청읍 범학리 1383-1      1     200  2010-03  경남
1          산청군            산청읍 내리 927-8      1     200  2010-03  경남
2          산청군            산청읍 내리 290-9      1     200  2010-03  경남
3          산청군           산청읍 옥산리 471-2      1     200  2010-03  경남
4          산청군             생초면 상촌리 621      1     200  2007-03  경남
...        ...                     ...    ...     ...      ...  ..
32518      NaN  경상남도 거제시 거제면 옥산리 393-7      3     200  2015-07  경남
32519      NaN  경상남도 거제시 거제면 서정리 732-1      2     200  2015-07  경남
32520      NaN      경상남도 거제시 고현동 82-13      2     200  2015-07  경남
32521      NaN  경상남도 거제시 남부면 갈곶리 292-5      2     200  2015-07  경남
32522      NaN   경상남도 거제시 남부면 갈곶리 72-7      2     200  2015-07  경남

[32523 rows x 6 columns]

In [15]:
cctv4['지역']='경북'
cctv4

,소재지도로명주소,소재지지번주소,카메라대수,카메라화소수,설치연월,지역
0,"경상북도 예천군 용문면 금당실길 51-20, 용문초등학교",경상북도 예천군 용문면 상금곡리 543-1 용문초등학교,2,200,2018-03,경북
1,"경상북도 예천군 은풍면 내동길 8, 은풍초등학교",경상북도 예천군 은풍면 우곡리 214 은풍초등학교,3,200,2013-05,경북
2,경상북도 예천군 효자면 상보곡길 47,경상북도 예천군 효자면 보곡리 166-6,1,200,2018-07,경북
3,경상북도 예천군 효자면 구도실길 22,경상북도 예천군 효자면 두성리 356,1,200,2017-10,경북
4,"경상북도 예천군 호명면 내신1길 183, 내동경로당",경상북도 예천군 호명면 내신리 55-4 내동경로당,1,200,2018-07,경북
...,...,...,...,...,...,...
28217,경상북도 울릉군 북면 나리 411,경상북도 울릉군 북면 나리 411,1,200,2022-04,경북
28218,경상북도 울릉군 울릉읍 사동리 310-1,경상북도 울릉군 울릉읍 사동리 310-1,1,200,2022-04,경북
28219,경상북도 울릉군 서면 남양리 500-1,경상북도 울릉군 서면 남양리 500-1,1,200,2022-04,경북
28220,경상북도 울릉군 서면 남서리 576-1,경상북도 울릉군 서면 남서리 576-1,1,200,2022-04,경북
28221,경상북도 울릉군 서면 남양길?319,경상북도 울릉군 서면 남양길?319,1,200,2024-04,경북

In [16]:
cctv5['지역']='광주'
cctv5

                     소재지도로명주소              소재지지번주소  카메라대수  카메라화소수     설치연월  지역
0        광주광역시 동구 무등로307번길 25     광주광역시 동구 계림동 647      1   200.0  2018-11  광주
1         광주광역시 동구 참판로20번길 12    광주광역시 동구 계림동 1765      1   200.0  2015-02  광주
2         광주광역시 동구 산수길35번길 22  광주광역시 동구 계림동 520-43      1   200.0  2015-12  광주
3           광주광역시 동구 참판로6번길 6   광주광역시 동구 계림동 518-7      1   200.0  2017-09  광주
4     광주광역시 동구 필문대로205번길 11-1  광주광역시 동구 산수동 520-47      1   200.0  2015-12  광주
...                       ...                  ...    ...     ...      ...  ..
1083      광주광역시 북구 부남길15번길 15                  NaN      2     0.0      NaN  광주
1084          광주광역시 북구 신흥로 40                  NaN      2     0.0      NaN  광주
1085     광주광역시 북구 용봉로126번길 42                  NaN      2     0.0      NaN  광주
1086     광주광역시 북구 용봉로138번길 69                  NaN      2     0.0      NaN  광주
1087     광주광역시 북구 대천로157번길 69                  NaN      2     0.0      NaN  광주

[1088 rows x 6 columns]

In [17]:
cctv6['지역']='대구'
cctv6

,소재지도로명주소,소재지지번주소,카메라대수,카메라화소수,설치연월,지역
0,대구광역시 남구 대명로 2-3 (대명동),대구광역시 남구 대명동 1135-2,1,200,2019-06,대구
1,대구광역시 남구 대명로 2-3(남편),대구광역시 남구 대명동 1135-2,1,200,2019-06,대구
2,대구광역시 남구 관문시장6길 33(북편),대구광역시 남구 대명동 1239-4,1,200,2019-06,대구
3,대구광역시 남구 대명로 213(남편),대구광역시 남구 대명동 1683-15,1,200,2019-06,대구
4,대구광역시 남구 대명로 213 (대명동),대구광역시 남구 대명동 1683-15,1,200,2019-06,대구
...,...,...,...,...,...,...
14043,NaN,대구광역시 달성군 다사읍 세천리 1696-1,1,200,NaN,대구
14044,NaN,대구광역시 달성군 다사읍 죽곡리 824-7,1,200,NaN,대구
14045,NaN,대구광역시 달성군 다사읍 죽곡리 824-7,1,200,NaN,대구
14046,대구광역시 달성군 다사읍 대실역남로4길 30-31,대구광역시 달성군 다사읍 죽곡리 858-1,1,200,NaN,대구
14047,대구광역시 달성군 다사읍 대실역남로4길 30-31,대구광역시 달성군 다사읍 죽곡리 858-1,1,200,NaN,대구

In [18]:
cctv7['지역']='대전'
cctv7

,소재지도로명주소,소재지지번주소,카메라대수,카메라화소수,설치연월,지역
0,NaN,대전광역시 유성구 구암동 591-1,1,200,2011-12,대전
1,NaN,대전광역시 유성구 장대동 279-4,2,200,2011-12,대전
2,NaN,대전광역시 유성구 장대동 327-9,1,200,2011-12,대전
3,NaN,대전광역시 유성구 갑동 388-9,1,200,2011-12,대전
4,NaN,대전광역시 유성구 지족동 910-16,1,200,2011-12,대전
...,...,...,...,...,...,...
5457,대전광역시 중구 문화로234번길 84-10(문화1동),대전광역시 중구 문화1동 223-4,2,200,2019-04,대전
5458,대전광역시 중구 어덕마을로146(중촌동),대전광역시 중구 중촌동 20-14,2,200,2019-04,대전
5459,대전광역시 중구 동서대로 1352번길 41-41(목동),대전광역시 중구 목동 132-55,2,200,2019-04,대전
5460,대전광역시 중구 대종로606번길 29(선화동),대전광역시 중구 선화동 111-3,2,200,2019-04,대전
5461,대전광역시 중구 문화2동 484-8,대전광역시 중구 문화2동 484-8,1,500,2016-05,대전

In [19]:
cctv8['지역']='부산'
cctv8

,소재지도로명주소,소재지지번주소,카메라대수,카메라화소수,설치연월,지역
0,흑교로 74,보수동1가 50-1,3,200,2018-09,부산
1,영주로24번길 5-1,영주동 284-3,3,200,2018-09,부산
2,대청북길16번길8,대청동4가 78-76,1,200,2018-09,부산
3,망양로 369,영주동 239-27,1,200,2019-07,부산
4,중구로 148,동광동5가 3-175,1,200,2019-07,부산
...,...,...,...,...,...,...
12561,부산광역시 서구 송도해변로 149-1,부산광역시 서구 암남동 124-31,1,200,2016-06,부산
12562,부산광역시 서구 충무대로83번길 51,부산광역시 서구 암남동 115-49,1,200,2015-12,부산
12563,부산광역시 서구 감천로 219,부산광역시 서구 암남동 10-10,1,200,2016-06,부산
12564,NaN,부산광역시 서구 아미동2가 산 23-93,2,200,2021-12,부산
12565,NaN,부산광역시 서구 아미동2가 산 22-23,2,200,2018-12,부산

In [20]:
cctv9['지역']='서울'
cctv9

,소재지도로명주소,소재지지번주소,카메라대수,카메라화소수,설치연월,지역
0,서울특별시 마조로 11,서울특별시 행당동 19-98,3,200,2013-11,서울
1,서울특별시 고산자로 330 (마장동),서울특별시 마장동 520-10,2,200,2013-11,서울
2,서울특별시 마장로35길 76,서울특별시 마장동 818,3,200,2013-11,서울
3,서울특별시 마장로 325 (마장동),서울특별시 마장동 767-41,3,200,2017-11,서울
4,서울특별시 마장로 322 (마장동),서울특별시 마장동 781-1,2,200,2017-11,서울
...,...,...,...,...,...,...
47452,서울특별시 영등포구 도림로64길 20,서울특별시 영등포구 대림동 904-20,1,200,2020-03,서울
47453,서울특별시 영등포구 도림로64길 20,서울특별시 영등포구 대림동 904-20,1,200,2020-03,서울
47454,서울특별시 영등포구 신길로15길 25,서울특별시 영등포구 대림동 904-14,1,200,2020-03,서울
47455,서울특별시 영등포구 디지털로77길 5-2,서울특별시 영등포구 대림동 903-44,1,200,2020-03,서울
47456,서울특별시 영등포구 대림로8나길 11,서울특별시 영등포구 대림동 975-30,1,200,2020-03,서울

In [21]:
cctv10['지역']='세종'
cctv10

                    소재지도로명주소  소재지지번주소  카메라대수  카메라화소수  설치연월  지역
0      세종특별자치시 연동면 예양리 112-1      NaN      2       0   NaN  세종
1     세종특별자치시 연동면 응암리 372-11      NaN      3       0   NaN  세종
2      세종특별자치시 연동면 합강리 477-7      NaN      2       0   NaN  세종
3        세종특별자치시 연동면 송용리 926      NaN      2       0   NaN  세종
4         세종특별자치시 연동면 장욱진로 7      NaN      3       0   NaN  세종
...                      ...      ...    ...     ...   ...  ..
1494     세종특별자치시 세종동 735-498      NaN      3       0   NaN  세종
1495     세종특별자치시 세종동 735-498      NaN      3       0   NaN  세종
1496     세종특별자치시 세종동 735-498      NaN      4       0   NaN  세종
1497     세종특별자치시 세종동 735-498      NaN      4       0   NaN  세종
1498     세종특별자치시 세종동 735-498      NaN      4       0   NaN  세종

[1499 rows x 6 columns]

In [22]:
cctv11['지역']='울산'
cctv11

,소재지도로명주소,소재지지번주소,카메라대수,카메라화소수,설치연월,지역
0,울산광역시 남구 선암동 두왕로48번길9-22 상개목화아파트 인근(고정),울산광역시 남구 야장동 야음185-11 행복안전체험관 외부3(고정),1,0,NaN,울산
1,울산광역시 남구 선암동 두왕로48번길9-22 상개목화아파트 인근,울산광역시 남구 야장동 야음185-11 행복안전체험관 외부2(고정),1,0,NaN,울산
2,울산광역시 남구 수암동 야음로4 신선아파트 앞(고정),울산광역시 남구 야장동 야음185-11 행복안전체험관 외부1(고정),1,0,NaN,울산
3,울산광역시 남구 수암동 야음로4 신선아파트 앞,울산광역시 남구 선암동 두왕로48번길9-22 상개목화아파트 인근(고정),1,0,NaN,울산
4,울산광역시 남구 대현동 수암로155번길29 갑부부동산(고정),울산광역시 남구 선암동 두왕로48번길9-22 상개목화아파트 인근,1,0,NaN,울산
...,...,...,...,...,...,...
6525,울산광역시 북구 호계4길 19,울산광역시 북구 호계동 936-8,1,200,2019-01,울산
6526,NaN,울산광역시 북구 호계동 325,1,200,2019-01,울산
6527,울산광역시 북구 동대8길 40,울산광역시 북구 호계동 262-2,1,200,2019-01,울산
6528,울산광역시 북구 호계2길 27,울산광역시 북구 호계동 672-4,1,200,2019-01,울산
6529,NaN,울산광역시 북구 호계동 936-54,1,200,2019-01,울산

In [23]:
cctv12['지역']='인천'
cctv12

,소재지도로명주소,소재지지번주소,카메라대수,카메라화소수,설치연월,지역
0,인천광역시 옹진군 영흥면 영흥로 440-8,인천광역시 옹진군 영흥면 내리 237,1,200,2011-12,인천
1,인천광역시 옹진군 영흥면 선재로 358,인천광역시 옹진군 영흥면 선재리 636-16,1,130,2012-11,인천
2,인천광역시 옹진군 영흥면 영흥북로35번길 34,인천광역시 옹진군 영흥면 내리 5-23,1,130,2012-11,인천
3,인천광역시 옹진군 영흥면 영흥북로 389,인천광역시 옹진군 영흥면 내리 724-127,3,200,2012-11,인천
4,인천광역시 옹진군 영흥면 영흥서로496번길 55,인천광역시 옹진군 영흥면 내리 1329-25,1,130,2012-11,인천
...,...,...,...,...,...,...
11564,인천광역시 강화군 선원면,인천광역시 강화군 선원면 창리 583-6,2,0,NaN,인천
11565,인천광역시 강화군 불은면,인천광역시 강화군 불은면 오두리 662-1,1,0,NaN,인천
11566,인천광역시 강화군 길상면,인천광역시 강화군 길상면 장흥리 449-1,2,0,NaN,인천
11567,인천광역시 강화군 화도면,인천광역시 강화군 화도면 흥왕리 786-1,1,0,NaN,인천
11568,인천광역시 강화군 화도면,인천광역시 강화군 화도면 사기리 340-5,1,0,NaN,인천

In [24]:
cctv13['지역']='전남'
cctv13

,소재지도로명주소,소재지지번주소,카메라대수,카메라화소수,설치연월,지역
0,학산면 영산로 18 연성철물건재 1ch,학산면 독천리 135 연성철물건재,2,200,2017-10,전남
1,학산면 영산로 824 석포교차로 1ch,학산면 은곡리 460-2 석포교차로,1,200,2017-10,전남
2,학산면 왕인로 196 아천사거리(버스정류장) 1ch,학산면 용산리 1015-39 아천사거리(버스정류장),2,200,2017-10,전남
3,학산면 천해길 6 천해마을 앞 1ch,학산면 용소리 501-13 천해마을 앞,4,200,2019-10,전남
4,군서면 왕인로 440 왕인박사유적지 사거리(버스정류장) 1ch,군서면 동구림리 477-2 왕인박사유적지 사거리(버스정류장) 3ch,4,200,2018-04,전남
...,...,...,...,...,...,...
18775,NaN,전라남도 함평군 엄다면 엄다리 829-2,1,200,2015-11,전남
18776,NaN,전라남도 함평군 함평읍 기각리 762-2,1,200,2015-11,전남
18777,NaN,전라남도 함평군 함평읍 내교리 170-2,1,200,2015-11,전남
18778,NaN,전라남도 함평군 학교면 사거리 432-1,1,200,2015-11,전남
18779,NaN,전라남도 함평군 함평읍 내교리 363-1,1,200,2015-11,전남

In [25]:
cctv14['지역']='전북'
cctv14

,소재지도로명주소,소재지지번주소,카메라대수,카메라화소수,설치연월,지역
0,전북특별자치도 무주군 무주읍 적천로 367,전북특별자치도 무주군 무주읍 읍내리 126-16,1,200,2020-05,전북
1,전북특별자치도 무주군 무주읍 단천로 165,전북특별자치도 무주군 무주읍 읍내리 120-7,2,200,2020-01,전북
2,전북특별자치도 무주군 적상면 사천리 303-3,전북특별자치도 무주군 적상면 사천리 303-3,2,200,2020-01,전북
3,전북특별자치도 무주군 무주읍 내도리 1436-2,전북특별자치도 무주군 무주읍 내도리 1436-2,4,200,2017-06,전북
4,전북특별자치도 무주군 적상면 사내로 113,전북특별자치도 무주군 적상면 사산리 984-6,3,200,2017-06,전북
...,...,...,...,...,...,...
9479,전북특별자치도 부안군 부안읍 봉덕리 633-3,NaN,1,0,NaN,전북
9480,전북특별자치도 부안군 백산면 대수리 595-1,NaN,1,0,NaN,전북
9481,전북특별자치도 부안군 백산면 대죽리 499-20,NaN,1,0,NaN,전북
9482,전북특별자치도 부안군 백산면 대죽리 499-20,NaN,1,0,NaN,전북
9483,전북특별자치도 부안군 변산면 격포리 641,NaN,4,0,NaN,전북

In [26]:
cctv15['지역']='제주'
cctv15

,소재지도로명주소,소재지지번주소,카메라대수,카메라화소수,설치연월,지역
0,제주특별자치도 제주시 동광로1길 20-7,제주특별자치도 제주시 이도일동 1294,4,NaN,NaN,제주
1,제주특별자치도 제주시 서광로29길 34,제주특별자치도 제주시 이도일동 1650-1,4,NaN,NaN,제주
2,제주특별자치도 제주시 홍랑길 38-15,제주특별자치도 제주시 삼도일동 273,4,NaN,NaN,제주
3,제주특별자치도 제주시 신산로15길 36,제주특별자치도 제주시 일도이동 352,4,NaN,NaN,제주
4,제주특별자치도 제주시 신산로13길 30,제주특별자치도 제주시 일도이동 446,4,NaN,NaN,제주
...,...,...,...,...,...,...
592,제주특별자치도 서귀포시 중앙로 184,제주특별자치도 서귀포시 동홍동 2187,4,0.0,NaN,제주
593,제주특별자치도 서귀포시 중앙로 175,제주특별자치도 서귀포시 서홍동 324-9,3,0.0,NaN,제주
594,제주특별자치도 서귀포시 표선면 일주동로6285번길 2,제주특별자치도 서귀포시 표선면 세화리 1540-24,5,0.0,NaN,제주
595,제주특별자치도 서귀포시 표선면 일주동로6285번길 7,제주특별자치도 서귀포시 표선면 세화리 1538-3,3,0.0,NaN,제주
596,제주특별자치도 서귀포시 남원읍 남한로 23,제주특별자치도 서귀포시 남원읍 남원리 2490-115,4,0.0,NaN,제주

In [27]:
cctv16['지역']='충남'
cctv16

      소재지도로명주소                  소재지지번주소  카메라대수  카메라화소수     설치연월  지역
0          NaN    충청남도 아산시 배방읍 공수리 48-2      1     200  2021-01  충남
1          NaN      충청남도 아산시 배방읍 중리 250      1     200  2021-01  충남
2          NaN      충청남도 아산시 배방읍 중3리 91      1     200  2021-01  충남
3          NaN    충청남도 아산시 배방읍 휴대리 65-5      1     200  2021-01  충남
4          NaN  충청남도 아산시 염치읍 곡교리 325-21      1     200  2021-01  충남
...        ...                      ...    ...     ...      ...  ..
26081      NaN  충청남도 청양군 청양읍 벽천리 137-12      3     200  2023-06  충남
26082      NaN     충청남도 청양군 청양읍 벽천리 729      4     200  2023-06  충남
26083      NaN     충청남도 청양군 청양읍 벽천리 719      1     200  2023-06  충남
26084      NaN   충청남도 청양군 청남면 중산리 339-4      3     200  2016-03  충남
26085      NaN   충청남도 청양군 청남면 인양리 618-2      2     200  2015-12  충남

[26086 rows x 6 columns]

In [28]:
cctv17['지역']='충북'
cctv17

,소재지도로명주소,소재지지번주소,카메라대수,카메라화소수,설치연월,지역
0,충청북도 단양군 매포읍 가평리 181-2,충청북도 단양군 매포읍 가평리 181-2,1,700,2020-05,충북
1,충청북도 단양군 매포읍 가평리 181-2,충청북도 단양군 매포읍 가평리 181-2,1,700,2020-05,충북
2,충청북도 단양군 영춘면 별방리 540,충청북도 단양군 영춘면 별방리 540,1,700,2020-05,충북
3,충청북도 단양군 영춘면 별방리 540,충청북도 단양군 영춘면 별방리 540,1,200,2020-05,충북
4,충청북도 단양군 어상천면 임현리 456-1,충청북도 단양군 어상천면 임현리 456-1,1,700,2020-05,충북
...,...,...,...,...,...,...
8149,NaN,충청북도 청성면 양저리 154,1,200,2018-01,충북
8150,NaN,충청북도 청성면 궁촌리 702-1,1,200,2018-01,충북
8151,충청북도 옥천군 청성면 남부로 2510,충청북도 청성면 산계리 106-2,1,200,2018-01,충북
8152,NaN,충청북도 청성면 화성리 295-11,1,200,2018-01,충북
8153,NaN,충청북도 안남면 연주리 54-5,1,200,2018-01,충북

In [29]:
# cctvDF=pd.merge(cctv1,cctv2,cctv3,cctv4,cctv5,cctv6,cctv7,cctv8,cctv9,cctv10,cctv11,cctv12,cctv13,cctv14,cctv15,cctv16,cctv17) # 가장 많이 사용하는 방법
# cctvDF.info()
#  TypeError: merge() takes from 2 to 13 positional arguments but 17 were given

In [30]:
len(cctv1)

14215

In [31]:
len(cctv2)

67495

In [32]:
cctvDF=pd.concat([cctv1, cctv2, cctv3,cctv4,cctv5,cctv6,cctv7,cctv8,
                  cctv9,cctv10,cctv11,cctv12,cctv13,cctv14,cctv15,cctv16,cctv17], ignore_index=True)

In [33]:
cctvDF

                     소재지도로명주소              소재지지번주소  카메라대수  카메라화소수     설치연월  지역
0                  사내면용담리74-3                  NaN      1     0.0      NaN  강원
1                 사내면사창리436-1                  NaN      1     0.0      NaN  강원
2                상서면노동리1265-5                  NaN      1     0.0      NaN  강원
3                 상서면다목리217-7                  NaN      1     0.0      NaN  강원
4                   하남면논미리8-2                  NaN      1     0.0      NaN  강원
...                       ...                  ...    ...     ...      ...  ..
305770                    NaN     충청북도 청성면 양저리 154      1   200.0  2018-01  충북
305771                    NaN   충청북도 청성면 궁촌리 702-1      1   200.0  2018-01  충북
305772  충청북도 옥천군 청성면 남부로 2510   충청북도 청성면 산계리 106-2      1   200.0  2018-01  충북
305773                    NaN  충청북도 청성면 화성리 295-11      1   200.0  2018-01  충북
305774                    NaN    충청북도 안남면 연주리 54-5      1   200.0  2018-01  충북

[305775 rows x 6 columns]

In [34]:
cctvDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305775 entries, 0 to 305774
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   소재지도로명주소  167101 non-null  object
 1   소재지지번주소   265736 non-null  object
 2   카메라대수     305775 non-null  int64
 3   카메라화소수    305545 non-null  float64
 4   설치연월      174807 non-null  object
 5   지역        305775 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 14.0+ MB

In [35]:
# 결측치 확인
cctvDF.isna().sum()

소재지도로명주소    138674
소재지지번주소      40039
카메라대수            0
카메라화소수         230
설치연월        130968
지역               0
dtype: int64

In [36]:
cctvDF.sort_values( by='설치연월', ascending=True )

,소재지도로명주소,소재지지번주소,카메라대수,카메라화소수,설치연월,지역
42968,경기도 파주시 해솔로 88,경기도 파주시 목동동 666,1,200.0,1905-07,경기
42967,경기도 파주시 해솔로 88,경기도 파주시 목동동 666,1,200.0,1905-07,경기
42611,경기도 파주시 숲속노을로 256,경기도 파주시 동패동 1692,1,200.0,1905-07,경기
42610,경기도 파주시 숲속노을로 256,경기도 파주시 동패동 1692,1,200.0,1905-07,경기
160665,대전광역시 중구 대둔산로 159번길 6 인근,대전광역시 중구 안영동 337-3,2,200.0,1905-07,대전
...,...,...,...,...,...,...
305391,충청북도 괴산군 괴산읍 동부리 673-1,NaN,3,0.0,NaN,충북
305392,충청북도 괴산군 연풍면 삼풍리 172-3,NaN,2,0.0,NaN,충북
305393,충청북도 괴산군 감물면 오성리 160-4,NaN,2,0.0,NaN,충북
305394,충청북도 괴산군 칠성면 도정리 325-1,NaN,1,0.0,NaN,충북
305395,충청북도 괴산군 청천면 청천리 78-5,NaN,1,0.0,NaN,충북

In [37]:
cctvDF.drop(['소재지도로명주소','소재지지번주소','카메라화소수'],axis=1)

        카메라대수     설치연월  지역
0           1      NaN  강원
1           1      NaN  강원
2           1      NaN  강원
3           1      NaN  강원
4           1      NaN  강원
...       ...      ...  ..
305770      1  2018-01  충북
305771      1  2018-01  충북
305772      1  2018-01  충북
305773      1  2018-01  충북
305774      1  2018-01  충북

[305775 rows x 3 columns]

In [38]:
local_list=['강원','경기','경남','경북','광주','대구','대전','부산','서울','세종','울산','인천','전남','전북','제주','충남','충북']
count1=[]
for l in local_list:
    year=cctvDF[cctvDF['설치연월'].str.contains('2023', na=False)]
    idx=year[year['지역']==l].index
    cctvDF.drop(idx,inplace=True)

cctvDF

                     소재지도로명주소              소재지지번주소  카메라대수  카메라화소수     설치연월  지역
0                  사내면용담리74-3                  NaN      1     0.0      NaN  강원
1                 사내면사창리436-1                  NaN      1     0.0      NaN  강원
2                상서면노동리1265-5                  NaN      1     0.0      NaN  강원
3                 상서면다목리217-7                  NaN      1     0.0      NaN  강원
4                   하남면논미리8-2                  NaN      1     0.0      NaN  강원
...                       ...                  ...    ...     ...      ...  ..
305770                    NaN     충청북도 청성면 양저리 154      1   200.0  2018-01  충북
305771                    NaN   충청북도 청성면 궁촌리 702-1      1   200.0  2018-01  충북
305772  충청북도 옥천군 청성면 남부로 2510   충청북도 청성면 산계리 106-2      1   200.0  2018-01  충북
305773                    NaN  충청북도 청성면 화성리 295-11      1   200.0  2018-01  충북
305774                    NaN    충청북도 안남면 연주리 54-5      1   200.0  2018-01  충북

[295039 rows x 6 columns]

In [39]:
cctvDF[cctvDF['설치연월']=='2023-02']

Empty DataFrame
Columns: [소재지도로명주소, 소재지지번주소, 카메라대수, 카메라화소수, 설치연월, 지역]
Index: []

In [40]:
cctvDF.dtypes

소재지도로명주소     object
소재지지번주소      object
카메라대수         int64
카메라화소수      float64
설치연월         object
지역           object
dtype: object

In [41]:
#연도별, 지역별 카메라대수
local_list=['강원','경기','경남','경북','광주','대구','대전','부산','서울','세종','울산','인천','전남','전북','제주','충남','충북']
count1=[]
for y in ['2020','2021','2022']:
    for l in local_list:
        year=cctvDF[cctvDF['설치연월'].str.contains(y, na=False)]
        idx=year[year['지역']==l].index
        total=year.loc[idx]['카메라대수'].sum()
        
        row = {'설치연도': y, '지역': l, '카메라대수': total}
        count1.append(row)

countDF2=pd.DataFrame(count1)
countDF2

    설치연도  지역  카메라대수
0   2020  강원   1801
1   2020  경기   8967
2   2020  경남   5602
3   2020  경북   2776
4   2020  광주     25
5   2020  대구    253
6   2020  대전   1339
7   2020  부산   1329
8   2020  서울   4947
9   2020  세종      0
10  2020  울산    696
11  2020  인천   1104
12  2020  전남   3053
13  2020  전북   1594
14  2020  제주      4
15  2020  충남   2135
16  2020  충북    782
17  2021  강원    432
18  2021  경기   7401
19  2021  경남   5120
20  2021  경북   1865
21  2021  광주     32
22  2021  대구    170
23  2021  대전    300
24  2021  부산    830
25  2021  서울   4020
26  2021  세종      0
27  2021  울산    428
28  2021  인천    837
29  2021  전남   1568
30  2021  전북   1216
31  2021  제주     17
32  2021  충남   2027
33  2021  충북    528
34  2022  강원    573
35  2022  경기   6581
36  2022  경남   5132
37  2022  경북   2033
38  2022  광주     69
39  2022  대구    478
40  2022  대전    711
41  2022  부산    979
42  2022  서울   4129
43  2022  세종      0
44  2022  울산    540
45  2022  인천   1016
46  2022  전남   3193
47  2022  전북    965
48  2022  제주      8
49  2022  충남   3001
50  2022  충북    538

In [42]:
pivot_cctv_df = countDF2.pivot(index='지역', columns='설치연도', values='카메라대수')

pivot_cctv_df

설치연도  2020  2021  2022
지역
강원    1801   432   573
경기    8967  7401  6581
경남    5602  5120  5132
경북    2776  1865  2033
광주      25    32    69
대구     253   170   478
대전    1339   300   711
부산    1329   830   979
서울    4947  4020  4129
세종       0     0     0
울산     696   428   540
인천    1104   837  1016
전남    3053  1568  3193
전북    1594  1216   965
제주       4    17     8
충남    2135  2027  3001
충북     782   528   538

In [43]:
pivot_cctv_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, 강원 to 충북
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2020    17 non-null     int64
 1   2021    17 non-null     int64
 2   2022    17 non-null     int64
dtypes: int64(3)
memory usage: 544.0+ bytes

In [44]:
pivot_cctv_df2=pivot_cctv_df.copy()
for l in local_list:
        t=pivot_cctv_df2.loc[l].sum()
        pivot_cctv_df2.loc[l,'20~22 신규설치']=t
pivot_cctv_df2

설치연도  2020  2021  2022  20~22 신규설치
지역
강원    1801   432   573      2806.0
경기    8967  7401  6581     22949.0
경남    5602  5120  5132     15854.0
경북    2776  1865  2033      6674.0
광주      25    32    69       126.0
대구     253   170   478       901.0
대전    1339   300   711      2350.0
부산    1329   830   979      3138.0
서울    4947  4020  4129     13096.0
세종       0     0     0         0.0
울산     696   428   540      1664.0
인천    1104   837  1016      2957.0
전남    3053  1568  3193      7814.0
전북    1594  1216   965      3775.0
제주       4    17     8        29.0
충남    2135  2027  3001      7163.0
충북     782   528   538      1848.0

In [45]:
pivot_cctv_df2.loc['강원','20~22 신규설치']

2806.0

In [46]:
# 세종시에 설치 연도 데이터 X
# 지역별 총 카메라대수 추가

pivot_cctv_df3=pivot_cctv_df2.copy()
for l in local_list:
        idx=cctvDF[cctvDF['지역']==l].index
        j=pivot_cctv_df3.loc[l,'20~22 신규설치']
        t=cctvDF.loc[idx]['카메라대수'].sum()
        pivot_cctv_df3.loc[l,'19 총 카메라대수']=t-j
pivot_cctv_df3

설치연도  2020  2021  2022  20~22 신규설치  19 총 카메라대수
지역
강원    1801   432   573      2806.0     14422.0
경기    8967  7401  6581     22949.0    155688.0
경남    5602  5120  5132     15854.0     37664.0
경북    2776  1865  2033      6674.0     33484.0
광주      25    32    69       126.0      1833.0
대구     253   170   478       901.0     13631.0
대전    1339   300   711      2350.0      6232.0
부산    1329   830   979      3138.0     13703.0
서울    4947  4020  4129     13096.0     83876.0
세종       0     0     0         0.0      3515.0
울산     696   428   540      1664.0      6130.0
인천    1104   837  1016      2957.0     14786.0
전남    3053  1568  3193      7814.0     21235.0
전북    1594  1216   965      3775.0     13973.0
제주       4    17     8        29.0      2488.0
충남    2135  2027  3001      7163.0     23556.0
충북     782   528   538      1848.0     10822.0

In [47]:
pivot_cctv_df3.loc['합계']=0
for i in pivot_cctv_df3.columns :
    pivot_cctv_df3.loc['합계',i]=pivot_cctv_df3[i].sum()
pivot_cctv_df3

설치연도   2020   2021   2022  20~22 신규설치  19 총 카메라대수
지역
강원     1801    432    573      2806.0     14422.0
경기     8967   7401   6581     22949.0    155688.0
경남     5602   5120   5132     15854.0     37664.0
경북     2776   1865   2033      6674.0     33484.0
광주       25     32     69       126.0      1833.0
대구      253    170    478       901.0     13631.0
대전     1339    300    711      2350.0      6232.0
부산     1329    830    979      3138.0     13703.0
서울     4947   4020   4129     13096.0     83876.0
세종        0      0      0         0.0      3515.0
울산      696    428    540      1664.0      6130.0
인천     1104    837   1016      2957.0     14786.0
전남     3053   1568   3193      7814.0     21235.0
전북     1594   1216    965      3775.0     13973.0
제주        4     17      8        29.0      2488.0
충남     2135   2027   3001      7163.0     23556.0
충북      782    528    538      1848.0     10822.0
합계    36407  26791  29946     93144.0    457038.0

In [48]:
pivot_cctv_df3['20 카메라수']=0
pivot_cctv_df3['21 카메라수']=0
pivot_cctv_df3['22 카메라수']=0

for l in range(18):
    for y in [0,1,2]:
        j=pivot_cctv_df3.iloc[l,y]
        p=pivot_cctv_df3.iloc[l,4]
        if y==0:
            pivot_cctv_df3.iloc[l,y+5]=p+j
        elif y <= 2:
            pivot_cctv_df3.iloc[l,y+5]=pivot_cctv_df3.iloc[l,y+4]+j

        
pivot_cctv_df3

설치연도   2020   2021   2022  20~22 신규설치  19 총 카메라대수  20 카메라수  21 카메라수  22 카메라수
지역
강원     1801    432    573      2806.0     14422.0    16223    16655    17228
경기     8967   7401   6581     22949.0    155688.0   164655   172056   178637
경남     5602   5120   5132     15854.0     37664.0    43266    48386    53518
경북     2776   1865   2033      6674.0     33484.0    36260    38125    40158
광주       25     32     69       126.0      1833.0     1858     1890     1959
대구      253    170    478       901.0     13631.0    13884    14054    14532
대전     1339    300    711      2350.0      6232.0     7571     7871     8582
부산     1329    830    979      3138.0     13703.0    15032    15862    16841
서울     4947   4020   4129     13096.0     83876.0    88823    92843    96972
세종        0      0      0         0.0      3515.0     3515     3515     3515
울산      696    428    540      1664.0      6130.0     6826     7254     7794
인천     1104    837   1016      2957.0     14786.0    15890    16727    17743
전남     3053   1568   3193      7814.0     21235.0    24288    25856    29049
전북     1594   1216    965      3775.0     13973.0    15567    16783    17748
제주        4     17      8        29.0      2488.0     2492     2509     2517
충남     2135   2027   3001      7163.0     23556.0    25691    27718    30719
충북      782    528    538      1848.0     10822.0    11604    12132    12670
합계    36407  26791  29946     93144.0    457038.0   493445   520236   550182

In [49]:
pivot_cctv_df3['20 증가율']=0
pivot_cctv_df3['21 증가율']=0
pivot_cctv_df3['22 증가율']=0

for l in range(18):
    for i in range(4,7):
        a=pivot_cctv_df3.iloc[l,i]
        b=pivot_cctv_df3.iloc[l,i+1]
        if i <=6:
            pivot_cctv_df3.iloc[l,i+4]=(b-a)/a*100
pivot_cctv_df3

C:\Users\KDP-27\AppData\Local\Temp\ipykernel_14816\2988671350.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12.487865760643462' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  pivot_cctv_df3.iloc[l,i+4]=(b-a)/a*100
C:\Users\KDP-27\AppData\Local\Temp\ipykernel_14816\2988671350.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.662886026012451' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  pivot_cctv_df3.iloc[l,i+4]=(b-a)/a*100
C:\Users\KDP-27\AppData\Local\Temp\ipykernel_14816\2988671350.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.44040828580006' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  pivot_cctv_df3.iloc[l,i+4]=(b-a)/a*100

설치연도,2020,2021,2022,20~22 신규설치,19 총 카메라대수,20 카메라수,21 카메라수,22 카메라수,20 증가율,21 증가율,22 증가율
지역,,,,,,,,,,,
강원,1801,432,573,2806.0,14422.0,16223,16655,17228,12.487866,2.662886,3.440408
경기,8967,7401,6581,22949.0,155688.0,164655,172056,178637,5.759596,4.494853,3.824917
경남,5602,5120,5132,15854.0,37664.0,43266,48386,53518,14.873619,11.833772,10.606374
경북,2776,1865,2033,6674.0,33484.0,36260,38125,40158,8.290527,5.143409,5.332459
광주,25,32,69,126.0,1833.0,1858,1890,1959,1.363884,1.722282,3.650794
대구,253,170,478,901.0,13631.0,13884,14054,14532,1.856063,1.224431,3.401167
대전,1339,300,711,2350.0,6232.0,7571,7871,8582,21.485879,3.962488,9.033160
부산,1329,830,979,3138.0,13703.0,15032,15862,16841,9.698606,5.521554,6.171983
서울,4947,4020,4129,13096.0,83876.0,88823,92843,96972,5.897992,4.525855,4.447293
세종,0,0,0,0.0,3515.0,3515,3515,3515,0.000000,0.000000,0.000000
울산,696,428,540,1664.0,6130.0,6826,7254,7794,11.353997,6.270144,7.444169
인천,1104,837,1016,2957.0,14786.0,15890,16727,17743,7.466522,5.267464,6.074012
전남,3053,1568,3193,7814.0,21235.0,24288,25856,29049,14.377207,6.455863,12.349165
전북,1594,1216,965,3775.0,13973.0,15567,16783,17748,11.407715,7.811396,5.749866
제주,4,17,8,29.0,2488.0,2492,2509,2517,0.160772,0.682183,0.318852
충남,2135,2027,3001,7163.0,23556.0,25691,27718,30719,9.063508,7.889923,10.826899
충북,782,528,538,1848.0,10822.0,11604,12132,12670,7.226021,4.550155,4.434553
합계,36407,26791,29946,93144.0,457038.0,493445,520236,550182,7.965858,5.429379,5.756234

In [50]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 75 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   범죄별(1)   181 non-null    object
 1   범죄별(2)   181 non-null    object
 2   범죄별(3)   181 non-null    object
 3   2019     181 non-null    object
 4   2019.1   181 non-null    object
 5   2019.2   181 non-null    object
 6   2019.3   181 non-null    object
 7   2019.4   181 non-null    object
 8   2019.5   181 non-null    object
 9   2019.6   181 non-null    object
 10  2019.7   181 non-null    object
 11  2019.8   181 non-null    object
 12  2019.9   181 non-null    object
 13  2019.10  181 non-null    object
 14  2019.11  181 non-null    object
 15  2019.12  181 non-null    object
 16  2019.13  181 non-null    object
 17  2019.14  181 non-null    object
 18  2019.15  181 non-null    object
 19  2019.16  181 non-null    object
 20  2019.17  181 non-null    object
 21  2020     181 non-null    object
 22  2020.1   181 non-null    object
 23  2020.2   181 non-null    object
 24  2020.3   181 non-null    object
 25  2020.4   181 non-null    object
 26  2020.5   181 non-null    object
 27  2020.6   181 non-null    object
 28  2020.7   181 non-null    object
 29  2020.8   181 non-null    object
 30  2020.9   181 non-null    object
 31  2020.10  181 non-null    object
 32  2020.11  181 non-null    object
 33  2020.12  181 non-null    object
 34  2020.13  181 non-null    object
 35  2020.14  181 non-null    object
 36  2020.15  181 non-null    object
 37  2020.16  181 non-null    object
 38  2020.17  181 non-null    object
 39  2021     181 non-null    object
 40  2021.1   181 non-null    object
 41  2021.2   181 non-null    object
 42  2021.3   181 non-null    object
 43  2021.4   181 non-null    object
 44  2021.5   181 non-null    object
 45  2021.6   181 non-null    object
 46  2021.7   181 non-null    object
 47  2021.8   181 non-null    object
 48  2021.9   181 non-null    object
 49  2021.10  181 non-null    object
 50  2021.11  181 non-null    object
 51  2021.12  181 non-null    object
 52  2021.13  181 non-null    object
 53  2021.14  181 non-null    object
 54  2021.15  181 non-null    object
 55  2021.16  181 non-null    object
 56  2021.17  181 non-null    object
 57  2022     181 non-null    object
 58  2022.1   181 non-null    object
 59  2022.2   181 non-null    object
 60  2022.3   181 non-null    object
 61  2022.4   181 non-null    object
 62  2022.5   181 non-null    object
 63  2022.6   181 non-null    object
 64  2022.7   181 non-null    object
 65  2022.8   181 non-null    object
 66  2022.9   181 non-null    object
 67  2022.10  181 non-null    object
 68  2022.11  181 non-null    object
 69  2022.12  181 non-null    object
 70  2022.13  181 non-null    object
 71  2022.14  181 non-null    object
 72  2022.15  181 non-null    object
 73  2022.16  181 non-null    object
 74  2022.17  181 non-null    object
dtypes: object(75)
memory usage: 106.2+ KB

In [51]:
crime.head()

,범죄별(1),범죄별(2),범죄별(3),2019,2019.1,2019.2,2019.3,2019.4,2019.5,2019.6,...,2022.8,2022.9,2022.10,2022.11,2022.12,2022.13,2022.14,2022.15,2022.16,2022.17
0,범죄별(1),범죄별(2),범죄별(3),계,서울,부산,대구,인천,광주,대전,...,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
1,범죄발생총건수(A) (건),소계,소계,1767684,340504,128725,82905,101289,52827,47929,...,6907,391119,46038,47324,67829,53737,61545,78953,111487,27478
2,인구(B) (명),소계,소계,51849861,9729107,3413841,2438031,2957026,1456468,1474870,...,383591,13589432,1536498,1595058,2123037,1769607,1817697,2600492,3280493,678159
3,"A/Bⅹ100,000 (건/10만명)",소계,소계,3409.2,3499.8,3770.7,3400.5,3425.4,3627.1,3249.7,...,1800.6,2878.1,2996.3,2966.9,3194.9,3036.7,3385.9,3036.1,3398.5,4051.9
4,형법범 (건),소계,소계,1041395,220375,81027,48919,63447,30296,30255,...,4683,244061,27790,30086,39562,32264,32655,48346,69122,19049

In [52]:
crime.columns

Index(['범죄별(1)', '범죄별(2)', '범죄별(3)', '2019', '2019.1', '2019.2', '2019.3',
       '2019.4', '2019.5', '2019.6', '2019.7', '2019.8', '2019.9', '2019.10',
       '2019.11', '2019.12', '2019.13', '2019.14', '2019.15', '2019.16',
       '2019.17', '2020', '2020.1', '2020.2', '2020.3', '2020.4', '2020.5',
       '2020.6', '2020.7', '2020.8', '2020.9', '2020.10', '2020.11', '2020.12',
       '2020.13', '2020.14', '2020.15', '2020.16', '2020.17', '2021', '2021.1',
       '2021.2', '2021.3', '2021.4', '2021.5', '2021.6', '2021.7', '2021.8',
       '2021.9', '2021.10', '2021.11', '2021.12', '2021.13', '2021.14',
       '2021.15', '2021.16', '2021.17', '2022', '2022.1', '2022.2', '2022.3',
       '2022.4', '2022.5', '2022.6', '2022.7', '2022.8', '2022.9', '2022.10',
       '2022.11', '2022.12', '2022.13', '2022.14', '2022.15', '2022.16',
       '2022.17'],
      dtype='object')

In [53]:
for i in crime.columns:
    for y in ['2019','2020','2021','2022']:
        if y in i:
            crime.rename(columns={i:y},inplace=True)

crime.columns

Index(['범죄별(1)', '범죄별(2)', '범죄별(3)', '2019', '2019', '2019', '2019', '2019',
       '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019', '2019',
       '2019', '2019', '2019', '2019', '2020', '2020', '2020', '2020', '2020',
       '2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020', '2020',
       '2020', '2020', '2020', '2020', '2021', '2021', '2021', '2021', '2021',
       '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021', '2021',
       '2021', '2021', '2021', '2021', '2022', '2022', '2022', '2022', '2022',
       '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022', '2022',
       '2022', '2022', '2022', '2022'],
      dtype='object')

In [54]:
# re_columns=pd.DataFrame(crime.columns)
# re_columns.astype('category')
print(re_columns.dtypes)

0    object
dtype: object

In [55]:
columns_list=crime.columns[3:]
index_list=crime.loc[0][3:]
value_list=crime.loc[1][3:].astype(int)

crime2 = {
    '지역':index_list,
    '연도':columns_list,
    '값':value_list}

crimeDF=pd.DataFrame(crime2)
crimeDF

      지역    연도        값
2019   계  2019  1767684
2019  서울  2019   340504
2019  부산  2019   128725
2019  대구  2019    82905
2019  인천  2019   101289
...   ..   ...      ...
2022  전북  2022    53737
2022  전남  2022    61545
2022  경북  2022    78953
2022  경남  2022   111487
2022  제주  2022    27478

[72 rows x 3 columns]

In [56]:
crimeDF.dtypes

지역    object
연도    object
값      int32
dtype: object

In [57]:
crimeDF=crimeDF.pivot(index='지역', columns='연도', values='값')
crimeDF

연도     2019     2020     2021     2022
지역
강원    53289    51544    45398    46038
경기   433498   429487   388004   391119
경남   123992   123406   111102   111487
경북    88098    83790    75300    78953
계   1767684  1714579  1531705  1575007
광주    52827    49869    44610    42963
대구    82905    79182    72339    71386
대전    47929    46960    41921    45650
부산   128725   127673   113558   118130
서울   340504   318320   274830   295503
세종     6300     6651     6147     6907
울산    25814    24911    23463    17776
인천   101289    96340    85432    91182
전남    68566    67448    60205    61545
전북    58012    56210    52587    53737
제주    28318    29296    26499    27478
충남    73817    71847    63290    67829
충북    53801    51645    47020    47324

In [58]:
crimeDF=crimeDF.drop('계')
crimeDF

연도    2019    2020    2021    2022
지역
강원   53289   51544   45398   46038
경기  433498  429487  388004  391119
경남  123992  123406  111102  111487
경북   88098   83790   75300   78953
광주   52827   49869   44610   42963
대구   82905   79182   72339   71386
대전   47929   46960   41921   45650
부산  128725  127673  113558  118130
서울  340504  318320  274830  295503
세종    6300    6651    6147    6907
울산   25814   24911   23463   17776
인천  101289   96340   85432   91182
전남   68566   67448   60205   61545
전북   58012   56210   52587   53737
제주   28318   29296   26499   27478
충남   73817   71847   63290   67829
충북   53801   51645   47020   47324

In [59]:
# pivot_cctv_df3.loc['합계']=0
for i in crimeDF.columns :
    crimeDF.loc['합계',i]=crimeDF[i].sum()
crimeDF

연도       2019       2020       2021       2022
지역
강원    53289.0    51544.0    45398.0    46038.0
경기   433498.0   429487.0   388004.0   391119.0
경남   123992.0   123406.0   111102.0   111487.0
경북    88098.0    83790.0    75300.0    78953.0
광주    52827.0    49869.0    44610.0    42963.0
대구    82905.0    79182.0    72339.0    71386.0
대전    47929.0    46960.0    41921.0    45650.0
부산   128725.0   127673.0   113558.0   118130.0
서울   340504.0   318320.0   274830.0   295503.0
세종     6300.0     6651.0     6147.0     6907.0
울산    25814.0    24911.0    23463.0    17776.0
인천   101289.0    96340.0    85432.0    91182.0
전남    68566.0    67448.0    60205.0    61545.0
전북    58012.0    56210.0    52587.0    53737.0
제주    28318.0    29296.0    26499.0    27478.0
충남    73817.0    71847.0    63290.0    67829.0
충북    53801.0    51645.0    47020.0    47324.0
합계  1767684.0  1714579.0  1531705.0  1575007.0

In [60]:
crimeDF['20 증감율']=0
crimeDF['21 증감율']=0
crimeDF['22 증감율']=0

for l in range(18):
    for i in range(4):
        a=crimeDF.iloc[l,i]
        b=crimeDF.iloc[l,i+1]
        if i<3:
            crimeDF.iloc[l,i+4]=(b-a)/a*100
crimeDF

C:\Users\KDP-27\AppData\Local\Temp\ipykernel_14816\1198486054.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-3.2745970087635348' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  crimeDF.iloc[l,i+4]=(b-a)/a*100
C:\Users\KDP-27\AppData\Local\Temp\ipykernel_14816\1198486054.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-11.92379326400745' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  crimeDF.iloc[l,i+4]=(b-a)/a*100
C:\Users\KDP-27\AppData\Local\Temp\ipykernel_14816\1198486054.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.409753733644654' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  crimeDF.iloc[l,i+4]=(b-a)/a*100

연도       2019       2020       2021       2022    20 증감율     21 증감율     22 증감율
지역
강원    53289.0    51544.0    45398.0    46038.0 -3.274597 -11.923793   1.409754
경기   433498.0   429487.0   388004.0   391119.0 -0.925264  -9.658732   0.802827
경남   123992.0   123406.0   111102.0   111487.0 -0.472611  -9.970342   0.346528
경북    88098.0    83790.0    75300.0    78953.0 -4.890009 -10.132474   4.851262
광주    52827.0    49869.0    44610.0    42963.0 -5.599409 -10.545630  -3.691997
대구    82905.0    79182.0    72339.0    71386.0 -4.490682  -8.642116  -1.317408
대전    47929.0    46960.0    41921.0    45650.0 -2.021740 -10.730409   8.895303
부산   128725.0   127673.0   113558.0   118130.0 -0.817246 -11.055587   4.026136
서울   340504.0   318320.0   274830.0   295503.0 -6.515048 -13.662352   7.522105
세종     6300.0     6651.0     6147.0     6907.0  5.571429  -7.577808  12.363755
울산    25814.0    24911.0    23463.0    17776.0 -3.498102  -5.812693 -24.238162
인천   101289.0    96340.0    85432.0    91182.0 -4.886019 -11.322400   6.730499
전남    68566.0    67448.0    60205.0    61545.0 -1.630546 -10.738643   2.225729
전북    58012.0    56210.0    52587.0    53737.0 -3.106254  -6.445472   2.186852
제주    28318.0    29296.0    26499.0    27478.0  3.453634  -9.547378   3.694479
충남    73817.0    71847.0    63290.0    67829.0 -2.668762 -11.910031   7.171749
충북    53801.0    51645.0    47020.0    47324.0 -4.007360  -8.955368   0.646533
합계  1767684.0  1714579.0  1531705.0  1575007.0 -3.004213 -10.665825   2.827046

In [61]:
resultDF = pd.merge(crimeDF, pivot_cctv_df3, left_index=True, right_index=True)

In [62]:
resultDF=resultDF.drop('20~22 신규설치',axis=1)
resultDF

,2019,2020_x,2021_x,2022_x,20 증감율,21 증감율,22 증감율,2020_y,2021_y,2022_y,19 총 카메라대수,20 카메라수,21 카메라수,22 카메라수,20 증가율,21 증가율,22 증가율
지역,,,,,,,,,,,,,,,,,
강원,53289.0,51544.0,45398.0,46038.0,-3.274597,-11.923793,1.409754,1801,432,573,14422.0,16223,16655,17228,12.487866,2.662886,3.440408
경기,433498.0,429487.0,388004.0,391119.0,-0.925264,-9.658732,0.802827,8967,7401,6581,155688.0,164655,172056,178637,5.759596,4.494853,3.824917
경남,123992.0,123406.0,111102.0,111487.0,-0.472611,-9.970342,0.346528,5602,5120,5132,37664.0,43266,48386,53518,14.873619,11.833772,10.606374
경북,88098.0,83790.0,75300.0,78953.0,-4.890009,-10.132474,4.851262,2776,1865,2033,33484.0,36260,38125,40158,8.290527,5.143409,5.332459
광주,52827.0,49869.0,44610.0,42963.0,-5.599409,-10.545630,-3.691997,25,32,69,1833.0,1858,1890,1959,1.363884,1.722282,3.650794
대구,82905.0,79182.0,72339.0,71386.0,-4.490682,-8.642116,-1.317408,253,170,478,13631.0,13884,14054,14532,1.856063,1.224431,3.401167
대전,47929.0,46960.0,41921.0,45650.0,-2.021740,-10.730409,8.895303,1339,300,711,6232.0,7571,7871,8582,21.485879,3.962488,9.033160
부산,128725.0,127673.0,113558.0,118130.0,-0.817246,-11.055587,4.026136,1329,830,979,13703.0,15032,15862,16841,9.698606,5.521554,6.171983
서울,340504.0,318320.0,274830.0,295503.0,-6.515048,-13.662352,7.522105,4947,4020,4129,83876.0,88823,92843,96972,5.897992,4.525855,4.447293
세종,6300.0,6651.0,6147.0,6907.0,5.571429,-7.577808,12.363755,0,0,0,3515.0,3515,3515,3515,0.000000,0.000000,0.000000
울산,25814.0,24911.0,23463.0,17776.0,-3.498102,-5.812693,-24.238162,696,428,540,6130.0,6826,7254,7794,11.353997,6.270144,7.444169
인천,101289.0,96340.0,85432.0,91182.0,-4.886019,-11.322400,6.730499,1104,837,1016,14786.0,15890,16727,17743,7.466522,5.267464,6.074012
전남,68566.0,67448.0,60205.0,61545.0,-1.630546,-10.738643,2.225729,3053,1568,3193,21235.0,24288,25856,29049,14.377207,6.455863,12.349165
전북,58012.0,56210.0,52587.0,53737.0,-3.106254,-6.445472,2.186852,1594,1216,965,13973.0,15567,16783,17748,11.407715,7.811396,5.749866
제주,28318.0,29296.0,26499.0,27478.0,3.453634,-9.547378,3.694479,4,17,8,2488.0,2492,2509,2517,0.160772,0.682183,0.318852
충남,73817.0,71847.0,63290.0,67829.0,-2.668762,-11.910031,7.171749,2135,2027,3001,23556.0,25691,27718,30719,9.063508,7.889923,10.826899
충북,53801.0,51645.0,47020.0,47324.0,-4.007360,-8.955368,0.646533,782,528,538,10822.0,11604,12132,12670,7.226021,4.550155,4.434553
합계,1767684.0,1714579.0,1531705.0,1575007.0,-3.004213,-10.665825,2.827046,36407,26791,29946,457038.0,493445,520236,550182,7.965858,5.429379,5.756234

In [63]:
resultDF.columns

Index(['2019', '2020_x', '2021_x', '2022_x', '20 증감율', '21 증감율', '22 증감율',
       '2020_y', '2021_y', '2022_y', '19 총 카메라대수', '20 카메라수', '21 카메라수',
       '22 카메라수', '20 증가율', '21 증가율', '22 증가율'],
      dtype='object')

In [64]:
result2=resultDF[['20 증감율', '21 증감율', '22 증감율','20 증가율', '21 증가율', '22 증가율']]
result2

      20 증감율     21 증감율     22 증감율     20 증가율     21 증가율     22 증가율
지역
강원 -3.274597 -11.923793   1.409754  12.487866   2.662886   3.440408
경기 -0.925264  -9.658732   0.802827   5.759596   4.494853   3.824917
경남 -0.472611  -9.970342   0.346528  14.873619  11.833772  10.606374
경북 -4.890009 -10.132474   4.851262   8.290527   5.143409   5.332459
광주 -5.599409 -10.545630  -3.691997   1.363884   1.722282   3.650794
대구 -4.490682  -8.642116  -1.317408   1.856063   1.224431   3.401167
대전 -2.021740 -10.730409   8.895303  21.485879   3.962488   9.033160
부산 -0.817246 -11.055587   4.026136   9.698606   5.521554   6.171983
서울 -6.515048 -13.662352   7.522105   5.897992   4.525855   4.447293
세종  5.571429  -7.577808  12.363755   0.000000   0.000000   0.000000
울산 -3.498102  -5.812693 -24.238162  11.353997   6.270144   7.444169
인천 -4.886019 -11.322400   6.730499   7.466522   5.267464   6.074012
전남 -1.630546 -10.738643   2.225729  14.377207   6.455863  12.349165
전북 -3.106254  -6.445472   2.186852  11.407715   7.811396   5.749866
제주  3.453634  -9.547378   3.694479   0.160772   0.682183   0.318852
충남 -2.668762 -11.910031   7.171749   9.063508   7.889923  10.826899
충북 -4.007360  -8.955368   0.646533   7.226021   4.550155   4.434553
합계 -3.004213 -10.665825   2.827046   7.965858   5.429379   5.756234

In [65]:
result2.columns=['20 범죄율', '21 범죄율', '22 범죄율','20 CCTV', '21 CCTV', '22 CCTV']

In [66]:
result2

      20 범죄율     21 범죄율     22 범죄율    20 CCTV    21 CCTV    22 CCTV
지역
강원 -3.274597 -11.923793   1.409754  12.487866   2.662886   3.440408
경기 -0.925264  -9.658732   0.802827   5.759596   4.494853   3.824917
경남 -0.472611  -9.970342   0.346528  14.873619  11.833772  10.606374
경북 -4.890009 -10.132474   4.851262   8.290527   5.143409   5.332459
광주 -5.599409 -10.545630  -3.691997   1.363884   1.722282   3.650794
대구 -4.490682  -8.642116  -1.317408   1.856063   1.224431   3.401167
대전 -2.021740 -10.730409   8.895303  21.485879   3.962488   9.033160
부산 -0.817246 -11.055587   4.026136   9.698606   5.521554   6.171983
서울 -6.515048 -13.662352   7.522105   5.897992   4.525855   4.447293
세종  5.571429  -7.577808  12.363755   0.000000   0.000000   0.000000
울산 -3.498102  -5.812693 -24.238162  11.353997   6.270144   7.444169
인천 -4.886019 -11.322400   6.730499   7.466522   5.267464   6.074012
전남 -1.630546 -10.738643   2.225729  14.377207   6.455863  12.349165
전북 -3.106254  -6.445472   2.186852  11.407715   7.811396   5.749866
제주  3.453634  -9.547378   3.694479   0.160772   0.682183   0.318852
충남 -2.668762 -11.910031   7.171749   9.063508   7.889923  10.826899
충북 -4.007360  -8.955368   0.646533   7.226021   4.550155   4.434553
합계 -3.004213 -10.665825   2.827046   7.965858   5.429379   5.756234

In [69]:
#상관계수
corr_result = result2[['20 범죄율', '21 범죄율', '22 범죄율','20 CCTV', '21 CCTV', '22 CCTV']].corr()
corr_result

           20 범죄율    21 범죄율    22 범죄율   20 CCTV   21 CCTV   22 CCTV
20 범죄율   1.000000  0.312061  0.271157 -0.183375 -0.224116 -0.265408
21 범죄율   0.312061  1.000000 -0.514353 -0.117236 -0.033048 -0.195371
22 범죄율   0.271157 -0.514353  1.000000 -0.063184 -0.162188 -0.118632
20 CCTV -0.183375 -0.117236 -0.063184  1.000000  0.627535  0.770270
21 CCTV -0.224116 -0.033048 -0.162188  0.627535  1.000000  0.798654
22 CCTV -0.265408 -0.195371 -0.118632  0.770270  0.798654  1.000000